.cartOverlayWrp {
  position: relative;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 15px 0 10px;
}

.cartOverlay {
  position: absolute;
  top: 100%;
  right: -15px;
  width: 325px;
  margin: 0;
  padding: 30px 15px;
  background-color: #FFF;
  color: #1D1F22;
  z-index: 20;
}

.cartOverlayTitle {
  font-family: 'Raleway', sans-serif;
  font-weight: 700;
  font-weight: 16px;
  margin: 0;
  padding: 0;
  text-transform: capitalize;
}

.cartOverlayTitle  span{
  font-weight: 500;
}
