.currencyWrp {
  position: relative;
  font-family: 'Raleway', sans-serif;
  font-weight: 500;
  font-size: 18px;
  height: 100%;
  color: #1D1F22;
  display: flex;
  align-items: center;
  gap: 10px;
  border: none;
  outline: none;
  background-color: transparent;
  transition: 0.3s;
  cursor: pointer;
}

.currencyValue {
  width: 30px;
}

.currencySelect {
  width: 10px;
  height: 20px;
  background-image: url(../../../assets/image/arrow_down.svg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;

}


.currencySelect.open {
  background-image: url(../../../assets/image/arrow_up.svg);
}


.currencyList {
  position: absolute;
  top: 100%;
  left: 0;
}
